.PartyUser {
  align-items: center;
  display: flex;
  justify-content: center;
}

.PartyUser__picture {
  object-fit: cover;
  border-radius:50%;
  width: 50px;
  height: 50px;
}

.PartyUser__name {
  margin-right: 8px;
}