.Progress {
  height: 2px;
  max-width: 100%;
  background: #555;
  margin: 2px;
  border-radius: 2px;
  transition: opacity 400ms ease-in-out;
}

.Progress__bar {
  background: #FDD063;
  height: 100%;
  max-width: 100%;
  border-radius: 2px;
  transform-origin: center left;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}