//COLORS
// $color-yellow-primary: #FFCB4F;
$color-yellow-secondary: #fdd063;
$color-yellow-tertiary: #ffb200;

$color-black-primary: #000000de;
$color-black-secondary: #040409;

$color-white-primary: #f3f3f0;
$color-white-secondary: #ffffff;
$color-white-tertiary: #f5f3f7;

// $color-dark-gray: #404040;
$color-med-gray: #5e5d5d;
// $color-light-gray: #E5E5E5;

$color-red: #EB5757;

//FONTS
$font-primary: forma-djr-display, "Helvetica Neue", sans-serif;

//FONT SIZE
$font-size-xlarge: 32px;
$font-size-large: 28px;
$font-size-large-med: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

// FONT WEIGHT:
$font-weight-heavy: 900;
$font-weight-heavy-medium: 600;
$font-weight-medium: 500;
$font-weight-light: 300;

// FONT STYLE
$font-style-primary: normal;